{{- if not .Values.useExistingHookSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "subscriber.fullname" . }}-hook
  labels:
    {{- include "litmus-agent.labels" . | nindent 4 }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-install,pre-delete
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
data:
  LITMUS_FRONTEND_URL: {{ .Values.LITMUS_URL | b64enc | quote }}
  {{- if .Values.LITMUS_BACKEND_URL }}
  LITMUS_BACKEND_URL: {{ ((printf "%s/query" .Values.LITMUS_BACKEND_URL ))  | b64enc | quote }}
  {{- else }}
  LITMUS_BACKEND_URL: {{ ((printf "%s/ws/query" .Values.LITMUS_URL ))  | b64enc | quote }}
  {{- end }}
  LITMUS_USERNAME: {{ .Values.LITMUS_USERNAME | b64enc | quote }}
  LITMUS_PASSWORD: {{ .Values.LITMUS_PASSWORD | b64enc | quote }}
  {{- if .Values.LITMUS_PROJECT_ID }}
  LITMUS_PROJECT_ID: {{ .Values.LITMUS_PROJECT_ID | b64enc | quote }}
  {{ end }}
{{ end }}
