# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                        @ksatchit @jasstkn @ajeshbaby @gdsoumya @imrajdas @ispeakc0de @Jonsy13

charts/litmus            @imrajdas @ispeakc0de @jasstkn @Jonsy13

charts/litmus-agent      @ksatchit @imrajdas @Jonsy13 @ispeakc0de

charts/litmus-core       @ksatchit @ispeakc0de @uditgaurav @Jonsy13

charts/litmus-1-x        @ksatchit @ispeakc0de

charts/kubernetes-chaos  @jasstkn @ksatchit

charts/kube-aws          @jasstkn @ksatchit @uditgaurav @Jonsy13

charts/kube-azure        @jasstkn @ksatchit @uditgaurav @Jonsy13

charts/kube-gcp          @jasstkn @ksatchit @uditgaurav @Jonsy13

charts/kube-azure        @jasstkn @ksatchit @uditgaurav @Jonsy13