{{ if not (has "container-kill" .Values.experiments.disabled) }}
---
apiVersion: litmuschaos.io/v1alpha1
description:
  message: "Kills a container belonging to an application pod \n"
kind: ChaosExperiment
metadata:
  name: container-kill
  labels:
    {{- include "kubernetes-chaos.labels" . | indent 4 }}
spec:
  definition:
    scope: Namespaced
    permissions:
      - apiGroups:
          - ""
          - "apps"
          - "batch"
          - "apps.openshift.io"
          - "argoproj.io"
          - "litmuschaos.io"
        resources:
          - "jobs"
          - "pods"
          - "pods/log"
          - "events"
          - "replicationcontrollers"
          - "deployments"
          - "statefulsets"
          - "daemonsets"
          - "replicasets"
          - "deploymentconfigs"
          - "rollouts"
          - "pods/exec"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "list"
          - "get"
          - "update"
          - "patch"
          - "delete"
          - "deletecollection"
    image: "{{ .Values.image.litmusGO.repository }}:{{ .Values.image.litmusGO.tag }}"
    imagePullPolicy: {{ .Values.image.litmusGO.pullPolicy }}
    args:
    - -c
    - ./experiments -name container-kill
    command:
    - /bin/bash
    env:

    - name: TARGET_CONTAINER
      value: ''

    # Period to wait before injection of chaos in sec
    - name: RAMP_TIME
      value: ''

    # provide the chaos interval
    - name: CHAOS_INTERVAL
      value: '10'

    - name: SIGNAL
      value: 'SIGKILL'

    # provide the total chaos duration
    - name: TOTAL_CHAOS_DURATION
      value: '20'

    # provide the name of container runtime
    # for litmus LIB, it supports docker, containerd, and crio
    # for pumba LIB, it supports docker only
    - name: CONTAINER_RUNTIME
      value: "{{ .Values.environment.runtime }}"

    - name: SOCKET_PATH
      value: "{{ .Values.environment.socketPath }}"

    - name: LIB
      value: 'litmus'

    - name: LIB_IMAGE
      value: "{{ .Values.image.litmusLIBImage.repository }}:{{ .Values.image.litmusLIBImage.tag }}"

    - name: TARGET_PODS
      value: ''    

    - name: PODS_AFFECTED_PERC
      value: ''

    ## it defines the sequence of chaos execution for multiple target pods
    ## supported values: serial, parallel
    - name: SEQUENCE
      value: 'parallel'      

    labels:
      name: container-kill
      app.kubernetes.io/part-of: litmus
      app.kubernetes.io/runtime-api-usage: "true"
{{ end }}
