---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubernetes-chaos.name" . }}-chaos-admin
  labels:
    instance: {{ .Release.Name }}
    chart: {{ include "kubernetes-chaos.chart" . }} 
    litmuschaos.io/version: {{ .Chart.AppVersion }} 
