apiVersion: v1
kind: Service
metadata:
  name: {{ include "litmus-portal.fullname" . }}-auth-server-service
  namespace:  {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: {{ include "litmus-portal.name" . }}-auth-server
    {{- include "litmus-portal.labels" . | nindent 4 }}
  {{- with .Values.portal.server.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.portal.server.service.type }}
  ports:
    - name: auth-server
      port: {{ .Values.portal.server.service.authServer.port }}
      targetPort: {{ .Values.portal.server.service.authServer.targetPort }}
    - name: auth-rpc-server
      port: {{ .Values.portal.server.service.authRpcServer.port }}
      targetPort: {{ .Values.portal.server.service.authRpcServer.targetPort }}
  selector:
    app.kubernetes.io/component: {{ include "litmus-portal.name" . }}-auth-server
