apiVersion: v1
kind: Secret
metadata:
  name: {{ include "litmus-portal.fullname" . }}-admin-secret
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "litmus-portal.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ include "litmus-portal.name" . }}-admin-secret
stringData:
  JWT_SECRET: {{ .Values.adminConfig.JWTSecret }}
  DB_USER: {{ .Values.adminConfig.DBUSER }}
  DB_PASSWORD: {{ .Values.adminConfig.DBPASSWORD }}
  ADMIN_USERNAME: {{ .Values.adminConfig.ADMIN_USERNAME }}
  ADMIN_PASSWORD: {{ .Values.adminConfig.ADMIN_PASSWORD }}
  
