apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "litmus-portal.fullname" . }}-admin-config
  namespace:  {{ .Release.Namespace }}
  labels:
    {{- include "litmus-portal.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ include "litmus-portal.name" . }}-admin-config
data:
  {{- if .Values.adminConfig.DB_SERVER }}
  DB_SERVER: "{{ .Values.adminConfig.DB_SERVER }}"
  {{- else }}
  DB_SERVER: "{{ include "litmus-portal.mongodbConnectionString" . }}"
  {{- end }}
  VERSION: "{{ .Values.adminConfig.VERSION }}"
  SKIP_SSL_VERIFY: "{{ .Values.adminConfig.SKIP_SSL_VERIFY }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "litmus-portal.fullname" . }}-frontend-nginx-configuration
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "litmus-portal.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ include "litmus-portal.name" . }}-admin-config
data:
  nginx.conf: |
    pid /tmp/nginx.pid;

    events {
      worker_connections  1024;
    }

    http {
        map $http_upgrade $connection_upgrade {
            default upgrade;
            '' close;
        }

        client_body_temp_path /tmp/client_temp;
        proxy_temp_path       /tmp/proxy_temp_path;
        fastcgi_temp_path     /tmp/fastcgi_temp;
        uwsgi_temp_path       /tmp/uwsgi_temp;
        scgi_temp_path        /tmp/scgi_temp;

        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 65;
        types_hash_max_size 2048;
        server_tokens off;

        include /etc/nginx/mime.types;

        gzip on;
        gzip_disable "msie6";

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        server {
    {{- if .Values.internalTLS.enabled }}
            listen {{ .Values.portal.frontend.containerPort }} ssl;
            # SSL
            ssl_certificate {{ .Values.internalTLS.certMountPath }}/tls.crt;
            ssl_certificate_key {{ .Values.internalTLS.certMountPath }}/tls.key;

            # Recommendations from https://raymii.org/s/tutorials/Strong_SSL_Security_On_nginx.html
            ssl_protocols TLSv1.2 TLSv1.3;
            {{- if .Values.internalTLS.strong_ssl_ciphers }}
            ssl_ciphers ECDHE+AESGCM:DHE+AESGCM:ECDHE+RSA+SHA256:DHE+RSA+SHA256:!AES128;
            {{ else }}
            ssl_ciphers '!aNULL:kECDH+AESGCM:ECDH+AESGCM:RSA+AESGCM:kECDH+AES:ECDH+AES:RSA+AES:';
            {{- end }}
            ssl_prefer_server_ciphers on;
            ssl_session_cache shared:SSL:10m;
    {{- else }}
            listen {{ .Values.portal.frontend.containerPort }};
    {{- end }}
            server_name  default_server;
            root   /opt/chaos;

            location /health {
              return 200;
            }

            location / {
                proxy_http_version 1.1;
                add_header Cache-Control "no-cache";
                try_files $uri /index.html;
                autoindex on;
            }

            # redirect server error pages to the static page /50x.html
            #
            error_page   500 502 503 504  /50x.html;
            location = /50x.html {
                root   /usr/share/nginx/html;
            }

            location /auth/ {
              {{- if and .Values.internalTLS.enabled }}
                proxy_ssl_verify        off;
                proxy_ssl_session_reuse on;
                proxy_ssl_certificate {{ .Values.internalTLS.certMountPath }}/tls.crt;
                proxy_ssl_certificate_key {{ .Values.internalTLS.certMountPath }}/tls.key;
                proxy_pass "https://{{ include "litmus-portal.fullname" . }}-auth-server-service:9003/";
              {{- else }}
                proxy_pass "http://{{ include "litmus-portal.fullname" . }}-auth-server-service:9003/";
              {{- end }}
                proxy_http_version 1.1;
                proxy_set_header   Host                 $host;
                proxy_set_header   X-Real-IP            $remote_addr;
                proxy_set_header   X-Forwarded-For      $proxy_add_x_forwarded_for;
                proxy_set_header   X-Forwarded-Proto    $scheme;
            }

            location /api/ {
              {{- if and .Values.internalTLS.enabled }}
                proxy_ssl_verify        off;
                proxy_ssl_session_reuse on;
                proxy_ssl_certificate {{ .Values.internalTLS.certMountPath }}/tls.crt;
                proxy_ssl_certificate_key {{ .Values.internalTLS.certMountPath }}/tls.key;
                proxy_pass "https://{{ include "litmus-portal.fullname" . }}-server-service:9002/";
              {{- else }}
                proxy_pass "http://{{ include "litmus-portal.fullname" . }}-server-service:9002/";
              {{- end }}
                proxy_http_version 1.1;
                proxy_set_header   Host                 $host;
                proxy_set_header   X-Real-IP            $remote_addr;
                proxy_set_header   X-Forwarded-For      $proxy_add_x_forwarded_for;
                proxy_set_header   X-Forwarded-Proto    $scheme;
            }
        }
    }
