{{- if .Values.ingress.enabled -}}
{{ $fullName := include "litmus-portal.fullname" . }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ .Values.ingress.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: {{ include "litmus-portal.name" . }}-frontend
    {{- include "litmus-portal.labels" . | nindent 4 }}
  annotations:
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- if .Values.internalTLS.enabled }}
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
{{- end }}
spec:
  {{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  {{- if .Values.ingress.host.name }}
  - host: {{ .Values.ingress.host.name | quote }}
    http:
  {{- else }}
  - http: 
  {{- end }}
      paths:
    {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
      - path: {{ .Values.ingress.host.frontend.path }}
        pathType: {{ .Values.ingress.host.frontend.pathType }}
        backend:
          service:
            name: {{ $fullName }}-frontend-service
            port:
              number: {{ .Values.portal.frontend.service.port }}
      - path: {{ .Values.ingress.host.backend.path }}
        pathType: {{ .Values.ingress.host.backend.pathType }}
        backend:
          service: 
            name: {{ $fullName }}-server-service
            port: 
              number: {{ .Values.portal.server.graphqlServer.service.graphqlRestServer.port }}
    {{- else if semverCompare "<1.19-0" .Capabilities.KubeVersion.GitVersion }}
      - path: {{ .Values.ingress.host.paths.frontend }}
        backend:
          serviceName: {{ $fullName }}-frontend-service
          servicePort: {{ .Values.portal.frontend.service.port }}
      - path: {{ .Values.ingress.host.paths.backend }}
        backend: 
          serviceName: {{ $fullName }}-server-service
          servicePort: {{ .Values.portal.server.graphqlServer.service.graphqlRestServer.port }}
    {{- end }}
{{- end }}
