{{ if eq .Values.operatorMode "namespaced" }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "litmus.fullname" . }}
  labels:
    name: {{ include "litmus.name" . }}
    instance: {{ .Release.Name  }}
    chart: {{ include "litmus.chart" . }}
    litmuschaos.io/version: {{ .Chart.AppVersion }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "litmus.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "litmus.fullname" . }}
  namespace: {{ .Release.Namespace }}
{{ end }}
