{{ if not .Values.administratorMode.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "litmus.fullname" . }}
  labels:
    name: {{ include "litmus.name" . }}
    instance: {{ .Release.Name }}
    chart: {{ include "litmus.chart" . }}
{{ else if .Values.administratorMode.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "litmus.fullname" . }}-admin
  labels:
    name: {{ include "litmus.name" . }}-admin
    instance: {{ .Release.Name }}
    chart: {{ include "litmus.chart" . }}
{{ end }}
