---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "litmus.fullname" . }}
  labels:
    name: {{ include "litmus.name" . }}
    instance: {{ .Release.Name }}
    chart: {{ include "litmus.chart" . }}


