apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "litmus-portal.fullname" . }}-frontend
  namespace:  {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: {{ include "litmus-portal.name" . }}-frontend
    {{- include "litmus-portal.labels" . | nindent 4 }}
    {{- if .Values.portal.frontend.customLabels }}
      {{ toYaml .Values.portal.frontend.customLabels | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.portal.frontend.replicas }}
  {{- if .Values.portal.frontend.strategy }}
  strategy:
  {{- toYaml .Values.portal.frontend.strategy | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/component: {{ include "litmus-portal.name" . }}-frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/component: {{ include "litmus-portal.name" . }}-frontend
        {{- include "litmus-portal.labels" . | nindent 8 }}
        {{- if .Values.portal.frontend.customLabels }}
          {{ toYaml .Values.portal.frontend.customLabels | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{ toYaml .Values.image.imagePullSecrets | indent 8 }}
      {{- end }}
      containers:
        - name: litmusportal-frontend
          image: {{ .Values.image.imageRegistryName }}/{{ .Values.portal.frontend.image.repository }}:{{ .Values.portal.frontend.image.tag }}
          imagePullPolicy: {{ .Values.portal.frontend.image.pullPolicy }}
          {{- if .Values.portal.frontend.resources }}
          resources:
            {{- toYaml .Values.portal.frontend.resources | nindent 12 }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: http
            {{- toYaml .Values.portal.frontend.livenessProbe | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /
              port: http
            {{- toYaml .Values.portal.frontend.readinessProbe | nindent 12 }}
          ports:
            - containerPort: {{ .Values.portal.frontend.containerPort }}
              name: http
          env:
            - name: AGENT_SCOPE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "litmus-portal.fullname" . }}-admin-config
                  key: AgentScope
